<nav id="sidebar">
    <div id="dismiss">
        <i class="glyphicon glyphicon-arrow-left"></i>
    </div>

    <div class="sidebar-header">
        <h3>Menu</h3>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a href="{{ path('app_upload_file') }}">Upload File</a>
            <a href="{{ path('app_text') }}">Use Text</a>
            <a href="{{ path('app_url') }}">Use Url</a>
            </ul>
        </li>
    </ul>
</nav>
